################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AvaliacaoPratica/.vs/AvaliacaoPratica
/AvaliacaoPratica/App_Data
/AvaliacaoPratica/bin
